    <% if respond_to?(:notice) && notice.present? %>
      <p class="notice">
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        <%= notice %>
      </p>
    <% end %>

    <% if (respond_to?(:alert) && alert.present?) || @alert.present? %>
      <p class="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <%= alert %><%= @alert %>
      </p>
    <% end %>
