/* vim: set ts=2 sts=2 sw=2 expandtab: */

@charset 'UTF-8';

p.notice {
  background: #009933;
  padding: 5px 15px;
  font-weight:bold;
  color: #ffffff;
  border-radius: 5px;
}

p.alert {
  background: #fff0ff;
  border: 1px solid #ff6699;
  padding: 5px 15px;
  font-weight:bold;
  color:red;
  border-radius: 5px;
}

#page-wrapper {
  padding-top: 1px;
}

h1 {
  font-size: 130%;
}

h2 {
  font-size: 110%;
}

.btn-back {
  margin-top: 1em;
}

table.table tbody tr td {
  vertical-align: middle;
}

/*-----------------------------------------------------------------------------
  ログイン画面（bootstrap使用）
-----------------------------------------------------------------------------*/
body.login {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

body.login .container {
  background-color: #fff;
  border-radius: 15px;
  padding: 15px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
h2.form-signin-heading {
  text-align: center;
  font-size: 150%;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
